// Navbar styles, header section
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  color: var(--color-secondary); // var(--coolor-grey-dark-1);  //
  //background-color: var(--coolor-grey-light-3);
  border-bottom: solid 1px var(--color-tertiary-light);

  &__logo {
    height: 6rem;
    width: 6rem;
    transition: all 0.3s;

    @media only screen and (max-width: $rwd-mobile) {
      height: 4.2rem;
      width: 4.2rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 2rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.7rem;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }

  &__link--btn:link,
  &__link--btn:visited {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 5px;
    padding: 1rem 3rem;

    &:hover,
    &:active {
      background-color: var(--color-secondary-dark);
    }
  }

  @media only screen and (max-width: $rwd-tab-landscape) {
    position: fixed;
    background-color: var(--color-dark-2);
  }

  @media only screen and (max-width: $rwd-mobile) {
    height: 6rem;
  }
}

@media only screen and (min-width: $rwd-tab-landscape) {
  .nav.sticky {
    position: fixed;
    border-bottom: none;
    background-color: var(--color-dark-2);

    @media only screen and (min-width: $rwd-largest) {
      max-width: 1920px;
      top: 0;
    }
  }
}

.hamburger-icon {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: $rwd-mobile) {
  .hamburger {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}

.hamburger-icon[aria-expanded='true'] .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}

.hamburger-icon[aria-expanded='true'] :is(.top, .bottom) {
  y: 45;
}

.hamburger-icon[aria-expanded='true'] .top {
  rotate: 45deg;
}

.hamburger-icon[aria-expanded='true'] .middle {
  rotate: -45deg;
}

.hamburger-icon[aria-expanded='true'] .bottom {
  rotate: -45deg;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: $rwd-tab-landscape) {
  .nav__links {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background: var(--color-dark-2);

    top: 9rem;
    right: 0;
    transition: all 0.5s ease-in-out;

    z-index: 50;
    width: 17rem;
    height: 100vh;

    &__slide {
      transform: translateX(17rem);
    }

    &__links {
      list-style: none;
      margin-top: -12rem;
    }

    &__item {
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
    }

    &__link:link,
    &__link:visited {
      font-size: 1.7rem;
      padding: 1rem;
      color: var(--color-secondary);
      text-decoration: none;
      display: block;
      transition: all 0.3s;
    }

    @media only screen and (max-width: $rwd-mobile) {
      top: 6rem;
    }
  }
}

.header {
  height: 100vh;
  @media only screen and (max-width: $rwd-tab-landscape) {
    margin-top: 9rem;
  }
  @media only screen and (max-width: $rwd-mobile) {
    margin-top: 6rem;
  }

  @media only screen and (max-width: $rwd-tab-landscape) {
    height: auto;
  }

  &__content {
    display: flex;
    overflow: hidden;
  }

  &__hero-text {
    color: var(--coolor-grey-light-1);
    margin: 4rem 0rem 6rem 9rem;
    border-left: solid 2px var(--color-tertiary-light);
    padding: 9rem;
    flex-basis: 40%;

    @media only screen and (max-width: $rwd-xlarge) {
      padding: 9rem 0 9rem 9rem;
    }

    @media only screen and (max-width: $rwd-tab-landscape) {
      padding-left: 3rem;
    }

    @media only screen and (max-width: $rwd-tab-portrait) {
      padding-left: 9rem;
    }

    @media only screen and (max-width: $rwd-mobile) {
      border: none;
      margin: 0;
    }
  }

  &__mask-container {
    position: relative;
    top: 0;
    left: 0;

    @media only screen and (max-width: $rwd-tab-portrait) {
      display: none;
    }

    @media only screen and (max-width: $rwd-large) {
      margin-left: 5rem;
    }
  }

  &__black-image {
    //inset: 0;
    //background-image: url("/img/hero_img_black.png");
    //background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    height: calc(100vh - 9rem);
    min-height: 100%;
    @media only screen and (min-width: $rwd-largest) {
      max-height: 99rem;
    }

    @media only screen and (max-width: $rwd-largest) and (min-width: $rwd-tab-portrait) and (min-height: 67.5em) {
      max-height: 99rem;
    }

    -webkit-mask-image: url('/img/inkmask_center.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: 0% 0%;
    mask-image: url('/img/inkmask_center.png');
    mask-size: cover;
    mask-position: 0% 0%;
    transition: -webkit-mask-position;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    // animation: hero-img-animation 1500ms steps(46) forwards;
  }

  &__color-image {
    height: calc(100vh - 9rem);
    min-height: 100%;
    position: absolute;
    @media only screen and (min-width: $rwd-largest) {
      max-height: 99rem;
    }

    @media only screen and (max-width: $rwd-largest) and (min-width: $rwd-tab-portrait) and (min-height: 67.5em) {
      max-height: 99rem;
    }
  }

  &__text--animation {
    opacity: 0;
    animation: hero-text-animation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      forwards;
  }

  &__hero-text-greeting {
    color: var(--color-secondary); // #e3bc93;
    opacity: 0;
    //text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 4rem;
    }

    @media only screen and (max-width: $rwd-large) {
      font-size: 3rem;
    }
  }

  &__hero-text-name {
    color: var(--coolor-grey-light-3);
    opacity: 0;
    // text-transform: uppercase;
    font-size: 14rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
    line-height: 1;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 12rem;
    }

    @media only screen and (max-width: $rwd-large) {
      font-size: 10rem;
    }
  }

  &__hero-text-caption {
    color: var(--coolor-grey-light-3);
    opacity: 0;
    margin-top: 1.8rem;
    font-size: 1.5rem;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 1.4rem;
    }
  }

  @media only screen and (min-width: $rwd-largest) {
    max-height: 108rem;
  }

  @media only screen and (max-width: $rwd-largest) and (min-width: $rwd-tab-portrait) and (min-height: 67.5em) {
    max-height: 108rem;
  }
}

.btn--scroll-to {
  opacity: 0;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 1.8rem;
  border-radius: 5px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }
  }
}

// About me section styles

#section--1 {
  background-image: var(--gradient-3);
  background-size: cover;
  background-repeat: no-repeat;
  .section__name {
    line-height: 1.2;
  }
}

.section {
  padding: 12rem 20rem;
  transition: transform 1s, opacity 1s;
  isolation: isolate;
  @media only screen and (max-width: $rwd-xlarge) {
    padding: 12rem 12rem;
  }

  @media only screen and (max-width: $rwd-tab-landscape) {
    padding: 10rem 7rem;
  }

  @media only screen and (max-width: $rwd-mobile) {
    padding: 6rem 4rem;
  }

  &__name {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 500;
    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 5rem;
    }
  }

  &__header {
    font-size: 3.3rem;
    font-weight: 500;
    color: var(--color-tertiary);
    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $rwd-mobile) {
      font-size: 2.5rem;
    }
  }

  &__description {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-tertiary);
    @media only screen and (max-width: $rwd-mobile) {
      font-size: 2.2rem;
    }
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.about-me {
  transition: transform 1s, opacity 1s;

  &--hidden-left {
    opacity: 0;
    transform: translateX(-15rem);
  }
  &--hidden-right {
    opacity: 0;
    transform: translateX(15rem);
  }

  &__show-descritpion-left {
    transition: transform 1s, opacity 1s ease-out;
  }

  &__show-descritpion-right {
    transition: transform 1s, opacity 1s ease-out;
  }

  &__description-container {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 10rem;
    overflow: hidden;
    @media only screen and (max-width: $rwd-tab-landscape) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &--left {
      display: flex;
      flex-direction: column;
      gap: 30rem;

      @media only screen and (max-width: $rwd-tab-landscape) {
        max-width: 70rem;
        gap: 10rem;
      }
    }

    &--right {
      align-self: center;

      @media only screen and (min-width: $rwd-tab-landscape) {
        transform: translateY(-3rem);
      }

      @media only screen and (max-width: $rwd-tab-landscape) {
        max-width: 70rem;
      }
    }
  }

  &__description-border {
    position: relative;
    border-inline-start: 2px solid;
    border-block-end: 2px solid;

    border-image-source: radial-gradient(
      circle at bottom left,
      var(--color-secondary),
      transparent 25%
    );

    border-image-slice: 1;
    padding: 3rem;
    transition: all 0.5s;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-inline-end: 2px solid;
      border-block-start: 2px solid;

      border-image-source: radial-gradient(
        circle at top right,
        var(--color-secondary),
        transparent 25%
      );
      border-image-slice: 1;
    }
  }
}

// Skills section styles

.skills-container {
  display: flex;
  gap: 7rem;
  @media only screen and (max-width: $rwd-tab-landscape) {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: $rwd-mobile) {
    gap: 5rem;
  }
}

.skills-heading {
  & .section__description {
    color: var(--coolor-grey-light-3);
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem 5rem;
  grid-auto-flow: row;
  grid-template-areas:
    'skills-grid--programing skills-grid--design'
    'skills-grid--uxui skills-grid--certification';

  @media only screen and (max-width: $rwd-tab-portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas:
      'skills-grid--programing'
      'skills-grid--design'
      'skills-grid--uxui'
      'skills-grid--certification';
  }

  & p {
    color: var(--coolor-grey-light-3);
  }

  &--programing {
    grid-area: skills-grid--programing;
  }

  &--design {
    grid-area: skills-grid--design;
  }

  &--uxui {
    grid-area: skills-grid--uxui;
  }

  &--certification {
    grid-area: skills-grid--certification;
  }

  &__icon {
    stroke: var(--coolor-grey-light-4);
    height: 6rem;
    width: 6em;
    margin-top: 1rem;
    color: var(--coolor-grey-light-4);
  }

  &__description {
    color: var(--color-secondary);
    font-size: 2.5rem;
    line-height: 2rem;
  }

  &__text {
    font-size: 1.8rem;
    margin-top: 1rem;

    @media only screen and (max-width: $rwd-tab-landscape) {
      font-size: 2rem;
    }
  }
}

// Projects setions styles

#section--3 {
  background-image: var(--gradient-3);
  background-size: cover;
  background-repeat: no-repeat;

  .section__name {
    line-height: 1.2;
  }
}

.projects {
  transition: transform 1s, opacity 1s;
}

.projects-container {
  display: flex;
  gap: 5rem;
  padding-top: 10rem;
  margin-bottom: 5rem;

  &__link:link,
  &__link:visited {
    flex: 1;
    padding: 3rem;
    text-align: center;
    transition: all 0.3s;

    text-decoration: none;
    position: relative;

    @media only screen and (max-width: $rwd-large) {
      min-width: 37rem;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: var(--gradient-2);
      box-shadow: var(--shadow-deep);
      border-radius: 5px;
      transition: all 0.3s;
      z-index: -1;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:link,
      &:hover:visited {
        transform: translateY(-2rem);
      }

      &:hover::after {
        transform: translateY(-1rem) scale(1.02);
        cursor: pointer;
      }
    }
  }

  &__icon {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 10rem;
    color: var(--coolor-grey-light-4);
  }

  &__project-name {
    color: var(--color-secondary);
    font-size: 2.2rem;
  }

  &__project-text {
    color: var(--coolor-grey-light-3);
    font-size: 1.5rem;
    @media only screen and (max-width: $rwd-tab-landscape) {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: $rwd-xlarge) {
    padding-top: 7rem;
    gap: 3rem;
  }

  @media only screen and (max-width: $rwd-large) {
    flex-wrap: wrap;
    gap: 7rem;
    margin-left: 7rem;
    margin-right: 7rem;
  }

  @media only screen and (max-width: $rwd-mobile) {
    margin: 0;
  }
}

// Contact section

.contact-container {
  display: flex;
  gap: 10rem;

  @media only screen and (max-width: $rwd-tab-landscape) {
    gap: 5rem;
  }

  @media only screen and (max-width: $rwd-tab-portrait) {
    flex-direction: column;
    gap: 4rem;

    & .section__header {
      margin-bottom: 1rem;
    }
  }

  &__left-col {
    flex-basis: 40%;
    @media only screen and (max-width: $rwd-tab-portrait) {
      flex-basis: unset;
    }
    & .section__header {
      color: var(--coolor-grey-light-3);
    }

    & .section__description {
      color: var(--coolor-grey-light-3);
    }
  }

  &__icons-header {
    font-size: 2.2rem;
    color: var(--coolor-grey-light-3);
    font-weight: 500;
  }

  &__right-col {
    @media only screen and (max-width: $rwd-tab-portrait) {
      display: none;
    }
  }

  &__right-col-heading {
    color: var(--color-secondary);
    font-size: 5.5rem;
    font-weight: 500;
    text-transform: uppercase;

    @media only screen and (max-width: $rwd-xlarge) {
      font-size: 5rem;
    }

    @media only screen and (max-width: $rwd-tab-landscape) {
      font-size: 4.2rem;
    }
  }

  &__right-col-image {
    margin: 2rem auto 2rem auto;
    border-radius: 5px;
    width: 100%;
    display: block;
  }

  &__right-col-text {
    color: var(--coolor-grey-light-3);
    font-size: 2.4rem;
    font-weight: 400;
  }

  &__mail-phone-icon {
    color: var(--color-secondary-dark);
    width: 5rem;
    height: 5rem;
  }

  &__mail-phone {
    font-size: 2rem;
    color: var(--coolor-grey-light-3);
    align-self: center;
    cursor: pointer;
  }

  &__mail-phone--link:link,
  &__mail-phone--link:visited {
    all: unset;
  }

  &__bearings {
    margin-top: 4rem;

    @media only screen and (max-width: $rwd-tab-portrait) {
      margin-top: 3rem;
    }

    &--mail {
      display: flex;
      gap: 2.5rem;
    }

    &--phone {
      display: flex;
      gap: 2.5rem;
      margin-top: 2rem;
    }
  }

  &__connect {
    margin-top: 4rem;
    @media only screen and (max-width: $rwd-tab-portrait) {
      margin-top: 2rem;
    }
  }

  &__connect-icon {
    color: var(--color-secondary-dark);
    width: 6rem;
    height: 6rem;
    transition: all 0.2s ease-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translateY(-0.5rem) scale(1.1);
        color: var(--color-secondary);
      }
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    @media only screen and (max-width: $rwd-tab-portrait) {
      transform: translateY(-0.5rem);
    }
  }

  &__connect-link:link,
  &__connect-link:visited {
    margin: 2.5rem 4rem 0 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;

    &:last-of-type {
      margin: 2.5rem 0 0 0;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--coolor-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
